body{
	margin:0px;
}

div#header-container{
	background-size: cover !important;
}

header#branding {
    background: rgba(0,0,0,0.79);
    padding: 17px 0px;
    position: absolute;
    z-index: 999;
    width: 100%;
}

img.custom-logo {
    margin-left: 163px;
    margin-top: 17px;
}

em.email_add:before {
    display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin: -2px 5px 0 0;
    vertical-align: top;
    line-height: 30px;
    font-family: FontAwesome;
    font-size: 28px;
    text-align: center;
    color: #fff;
    font-style: normal;
    content: '\f0e0';
    margin-left: 20px;
}

em.email_add a {
    color: #fff;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    font-size: 20px;
}

i.phone_number:before {
    display: inline-block;
    width: 36px;
    height: 36px;
    overflow: hidden;
    margin: -5px 2px 0 0;
    vertical-align: top;
    line-height: 36px;
    font-family: FontAwesome;
    font-size: 38px;
    text-align: center;
    color: #fff;
    content: '\f095';
}

i.phone_number a {
    color: #fff;
    text-decoration: none;
    font-style: normal;
    font-family: Arial;
    font-size: 20px;
}

ul#menu-main-menu {
    margin: 0px;
}

.menu-item {
    list-style-type: none;
    float: left;
}

.menu-item a {
    color: #fff;
    text-decoration: none;
    font-family: Arial;
    padding: 14px 18px;
    font-size: 18px;
}

hgroup {
    width: 40%;
    float: left;
}

.span4 {
	width: 60%;
    margin: 21px 0px 0px 0px !important;
    float: right;
}

.end-clear {
    clear: both;
}

.textwidget {
    float: left;
    margin-right: 20px;
}

footer#colophon {
    background: #353535;
    padding-top: 20px;
}

footer#colophon h4 {
    color: #fff;
    font-weight: bolder;
}

footer#colophon ul {
	padding-left: 15px;
}

footer#colophon ul li, footer#colophon ul li a {
	color: #7d7d7d;
}

footer#colophon ul li {
	list-style-type: none;
}

.featured-images {
    background: #fff;
    padding: 30px 0px;
}

nav#access {
    margin-top: 60px;
}

.menu-item a:hover {
    background-color: #ff4500;
}

.main {
    padding: 30px 0px;
    background: url(images/drainage.png);
}

.question-widget {
    text-align: center;
    padding: 30px;
    background: rgba(0,0,0,0.20);
    color: #fff;
    margin-bottom: 20px;
}

.huge_it_slideshow_image_wrap_1 {
    width: 100% !important;
    margin: 0px !important;
}

span.description {
    background: #df5900;
    display: block;
    text-align: center;
    max-width: 100%;
    padding: 5px;
    margin: 5px 0px;
    color: #fff;
}

.why_wilco img.column-image {
    width: 100%;
}

div.wpcf7 {
    background: rgba(223,89,0,0.52);
    padding: 20px;
}

div.wpcf7 h4 {
    color: #fff;
    font-size: 25px;
    font-weight: bolder;
}

.wpcf7-text, .wpcf7-textarea {
    padding: 4px;
    color: #777;
    border: none;
    font-size: 15px;
    max-width: 100%;
}

.wpcf7-submit {
    background: red;
    text-transform: uppercase;
    color: #fff;
    width: 50%;
    padding: 5px;
    border: none;
    margin: auto;
    display: block;
}

img.home-image-buttons {
    width: 100%;
    margin: 10px auto 0px auto;
    border: 2px solid #fff;
}

.widget-columns .widget {
    width: 100%;
    display: block;
    float: left;
}

.widget-columns .widget .textwidget {
    color: #7d7d7d;
}

.phone_number {
    margin-top: 15px;
}

h4.text-center {
    color: #ffffff;
    font-weight: bold;
    margin-top: 20px !important;
}

hr {
    margin-top: 15px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #ffffff;
}

.why_wilco{
	background-color: #fe9550;
}

span.testimonials {
    color: #ffffff;
}

p.testimonials-name {
	font-weight: bold;
	font-size: 18px;
    text-align: right;
    margin-bottom: -7px;    
}

p.testimonials-date {
    text-align: right;
    margin-bottom: 20px;
}

.why_wilco img.column-image {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-style: solid;
    border-color: #ffffff;
    border-width: 3px;
    margin-top: 45px;
}

div#text-2 h4.widget-title {
    font-size: 12px;
    font-weight: bold;
}

div#text-3 h4.widget-title {
    font-size: 12px;
    font-weight: bold;
}

ul#menu-suburbs li a {
    color: #ffffff !important;
}

.textwidget li {
    color: #ffffff !important;
    font-size: 12px;
}

.huge_it_slideshow_dots_thumbnails_1 {
    display: none;
}

.offset-white {
    width: 100%;
    height: 131px;
    background: #fff;
}

.opaque-content {
    padding: 20px;
    margin: 10px 0px;
    background: rgba(0,0,0,0.48);
}

h2.entry-title a, h2.entry-title {
    color: #fff;
    text-align: center;
    width: 100%;
}

.container.team-container {
    text-align: center;
    color: #fff;
}

.page header#branding {
    background: #353535;
}

img.column-image {
    width: 30%;
}

.two-row img.column-image {
    width: 100%;
}

p.staff-name {
    font-weight: bold;
    font-size: 18px !important;
    margin-bottom: -5px;
}

p.staff-position {
    font-size: 12px;
}
    
.entry-content p {
    font-size: 12px;
}

.why-wilco-container {
    background-color:  #fe9550;
}

.why-wilco-container .entry-title {
    margin:0px;
}

p.why-wilco {
    color: #ffffff;
}

.row.alt-orange {
    background-color: #f0792b;
}

.why-wilco-container .entry-header {
    padding-top: 20px;
}